<html>
  <head>
    <title>{{ title }}</title>
  </head>
    <h1>New Game</h1>
    <body>
    <form action="" method="post">
      <h3>Characters</h3>
      <table id="teams" bgcolor="#ffe4c4">
        <tr>
          <th>Name</th>
          <th>Character</th>
          <th>Starting Team</th>
          <th>Sleeper Team</th>
        </tr>
        <tr>
          <td> <input value="Bobhi" name="teams__player--one"></td>
          <td> <input value="Apollo" name="teams__character--one"></td>
          <td>
            <div id="teams__starting">
              <input type="radio" name="teams__starting--1" value="human" checked="true">
              <label for="teams__starting--human">Human</label>
              <input type="radio" name="teams__starting--1" value="cylon">
              <label for="teams__starting--cylon">Cylon</label>
              <input type="radio" name="teams__starting--1" value="other">
              <label for="teams__starting--other">Other</label>
            </div>
          </td>
          <td>
            <div class="teams__sleeper">
              <input name="teams__sleeper--human--1" type="radio" value="human" checked="true">
              <label for="teams__sleeper--human--1">Human</label>
              <input name="teams__sleeper--cylon--1" type="radio" value="cylon">
              <label for="teams__sleeper--cylon--1">Cylon</label>
              <input name="teams__sleeper--other--1" type="radio" value="other">
              <label for="teams__sleeper--other--1">Other</label>
            </div>
          </td>
          <td>
            <button id="btn--newcharacter">+</button>
          </td>
        </tr>
      </table>
      <h3>Game Results</h3>
      <table id="game" bgcolor="#fff8dc">
        <tr>
          <th>Date</th>
          <th>Expansions</th>
          <th>Winning Team</th>
        </tr>
        <tr>
          <td>
            <div>
              <input id="game__date" type="date">
            </div>
          </td>
          <td>
            <div id="game__expansions">
              <input id="game__expansions--daybreak" name="game__expansions" type="checkbox" value="daybreak">
              <label for="game__expansions--daybreak">Daybreak</label>
              <input id="game__expansions--exodus" name="game__expansions" type="checkbox" value="exodus">
              <label for="game__expansions--exodus">Exodus</label>
              <input id="game__expansions--pegasus" name="game__expansions" type="checkbox" value="peagsus">
              <label for="game__expansions--pegasus">Peagsus</label>
            </div>
          </td>
          <td>
            <div id="game__winner">
              <input id="game__winner--human" name="game__winner" type="radio" checked="true">
              <label for="game__winner--human">Human</label>
              <input id="game__winner--cylon" name="game__winner" type="radio">
              <label for="game__winner--Cylon">Cylon</label>
            </div>
          </td>
        </tr>
      </table>
      <h3>Results Breakdown</h3>
      <table id="results" bgcolor="#deb887">
        <tr>
          <th>Resource Dials</th>
          <th>Game Stats</th>
        </tr>
        <tr>
          <td>
            <div>
              <table id="results__resources">
                <tr><td>Fuel</td><td><input name="results__resources--fuel" value="10" type="number"></td></tr>
                <tr><td>Food</td><td><input name="results__resources--food" value="8" type="number"></td></tr>
                <tr><td>Morale</td><td><input name="results__resources--morale" value="8" type="number"></td></tr>
                <tr><td>Population</td><td><input name="results__resources--population" value="12" type="number"></td></tr>
              </table>
            </div>
          </td>
          <td>
            <div>
              <table id="results__stats">
                <tr><td>Raptors Left</td><td><input name="results__stats--raptors" value="4" type="number"></td></tr>
                <tr><td>Vipers Left</td><td><input name="results__stats--vipers" value="6" type="number"></td></tr>
                <tr><td>Distance Traveled</td><td><input name="results__stats--distance" value="8" type="number"></td></tr>
                <tr><td>Damage Taken</td><td><input name="results__stats--damage" value="0"></td></tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
      <button id="btn--submit" type="submit" value="Submit">Submit</button>
    </form>
  </body>
</html>
